.footer {
  background-color: #ffffff;
  border-top: 1px solid #eee;
  width: 100%;
  .social-icons {
    margin: 0 auto;
    width: 60%;
    li {
      margin-right: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
      display: inline-block;
      .github,
      .linkedin,
      .twitter {
        width: 28px;
        height: 28px;
        transition: all ease 0.5s;
        &:hover {
          transition: all ease 0.5s;
          opacity: 0.3;
        }
      }
    }
  }
}
